{% extends 'base.html' %} 
{% comment %} {% load thumbnail %}  {% endcomment %}

{% block title%}
{{ user.username }}'s profile
{% endblock %} 

{% block body %}

    {% include "includes/detail.html" %}
    {% include "includes/profile_btn.html" %}
    
    {% if request.GET.show_followed_posts == 'true' %}
        {% for post in posts %}
            {% include 'includes/post.html' with post=post show_detail_link=True %}
        {% endfor %}
    {% else %}
        {% for post in user_posts %}
            {% include 'includes/post.html' with post=post show_detail_link=True %}
        {% endfor %}
    {% endif %}
    
    {% comment %} {% for comment in comments %} {% endcomment %}
    {% comment %} {% include 'includes/comment.html' with comments=comments %} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
    {% include "includes/edit.html" %}


{% endblock %}

