{% load custom_filters %}

<ul class="comments-section w-2/4 rounded my-4 hidden" data-post-id="{{ post.id }}">
    {% for comment in comments %}
        <li class="flex flex-col text-gray-500 bg-white rounded my-1">
            <div class="flex flex-row justify-between">
                <small>{{ comment.author.username }}</small>
                <span>&nbsp;</span>
                <small>{{ comment.formatted_date }}</small>
            </div>
            <div>
             <p>{{ comment.text }}</p>
            </div>
        </li>
    {% endfor %}
    <!-- Newly added comment from AJAX response -->
    {% if new_comment %}
        <li class="text-gray-500 bg-white rounded my-2">{{ new_comment.author }} - {{ new_comment.text }}</li>
    {% endif %}
</ul>
