{% block body %}

<div class="flex flex-row justify-between w-1/3 p-4">
    <a id="posts-link" class="link bg-white rounded-full px-4 py-2 mx-2 {% if request.GET.show_followed_posts == 'true' %}text-gray-500{% else %}text-gray-800{% endif %} {% if request.GET.show_followed_posts == 'true' and not request.GET.active_link == 'following-posts-link' %}inactive-link{% endif %}" href="?show_followed_posts=false">Posts</a>
    <span>&nbsp;</span> <span>&nbsp;</span>
    <a id="following-posts-link" class="link bg-white rounded-full px-4 py-2 mx-2 hover:bg-red-300 {% if request.GET.show_followed_posts == 'false' %}text-gray-500{% else %}text-gray-800{% endif %} {% if request.GET.show_followed_posts == 'false' and not request.GET.active_link == 'posts-link' %}inactive-link{% endif %}" href="?show_followed_posts=true">Following Posts</a>
</div>

{% endblock %}